:root{

}
body{
   height: 100vh;
   min-height: 100vh;
   background: #242424;
}
main{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: #a2541d;
}
.modal{
   border: 1px #6b3d1c solid;
   padding: 17px;
   font-family: monospace;
   background: #222222;
   box-shadow: 0px 0px 14px 0px #d2691e2e;
   border-radius: 11px;
}
.ststus{
   text-align: center;
   font-size: 18px;
}
.date{
   text-align: center;
   font-size: 20px;
}
.help-button{
   position: fixed;
   right: 16px;
   top: 16px;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px #6b3d1c solid;
   border-radius: 11px;
   box-shadow: 0px 0px 14px 0px #d2691e2e;
   cursor: pointer;
   z-index: 9999;
}
.help-button::before{
   content: "?";
   font-weight: bold;
   font-size: 18px;
    font-family: monospace;
}
.help-button:hover{
   background: #ea6301;
   color: black;
}

.help{
   transform: translate3d(115%, 0px, 0px);
   border-radius: 11px;
   box-shadow: 0px 0px 14px 0px #d2691e2e;
   position: fixed;
   right: 16px;
   top: 16px;
   width: 100%;
   min-width: 300px;
   max-width: 700px;
   height: calc(100vh - 56px);
   max-height: calc(100vh - 56px);
   background-color: #222222;
   padding: 1em;
   font-family: monospace;
   overflow-y: scroll;
   color: #a46200;
   z-index: 9;
   transition: transform 0.4s ease-in-out;
}
:checked + .help{
   transform: translate3d(0px, 0px, 0px);
}
.help p{
   line-height: 1;
}
:checked ~ .help-button{
   background-color: #222222;
   border-color: transparent;
   border-radius: 0;
   border-top-right-radius: 2px;
   border-bottom-left-radius: 11px;
}
:checked ~ .help-button::before{
   content: "\2715";
   
}
.overlay{
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: #000000a6;
   display: none;
}
:checked ~ .overlay{
 display: block;
}
.test-date{
   position: fixed;
   left: 16px;
   top: 16px;
   background: #0b0b0b;
   border: 1px #6b3d1c solid;
   color: #ff9800;
   border-radius: 6px;
   padding: 2px 6px 4px 6px;
   font-size: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmY5ODAwIiBkPSJNMjAgM2gtMVYxaC0ydjJIN1YxSDV2Mkg0Yy0xLjEgMC0yIC45LTIgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMThINFY4aDE2djEzeiIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L3N2Zz4=")
}
#result{
   position: fixed;
   left: 234px;
   top: 16px;
   background: #151516;
   border: 1px #6b3d1c solid;
   color: #b6b6b6;
   border-radius: 6px;
   padding: 2px 6px 4px 6px;
   font-size: 20px;
   height: 25px;
   width: 111px;
   font-family: monospace;
}
.btn{
   border: 1px #6b3d1c solid;
   border-radius: 5px;
   box-shadow: 0px 0px 14px 0px #d2691e2e;
   cursor: pointer;
   z-index: 9999;
   background: #a86400;
   position: fixed;
   top: 66px;
   padding: 8px 22px;
}
.btn:hover{
   background-color: #ff9800;
}
.get{
   left: 20px;
}
.set{
   left: 120px;
}

   .hidden{
visibility: collapse;
display: none;
}
.help::-webkit-scrollbar {width:6px!important;height:6px!important}
.help::-webkit-scrollbar-track {-webkit-box-shadow: inset 0px 0 5px 0px #333;background: #222222;-webkit-border-radius: 5px;border-radius: 5px;}
.help::-webkit-scrollbar-thumb {-webkit-border-radius: 6px;border-radius: 6px;background: linear-gradient(to right, #6b3d1c, #6a2f03);-webkit-box-shadow: inset 0 0 1px #000000;box-shadow: 0 0 1px rgb(57 60 58);}
.help p b{
   color: orange;
}